<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Article</th>
      <th scope="col">description</th>
      <th scope="col">prix</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%total=0%>
    <%@cart.each do |value|%>
    <tr>
      <td><%=value.title%></td>
      <td><%=value.description%></td>
      <td><%=value.price%></td>
    </tr>
    <%end%>
  </tbody>
</table>
